<style>
    .row {
        position: relative;
    }
    .card {
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 80%;
        max-width: 750px;
    }
</style>

<div class="row">
    <img src="../public/images/pexels-brian-de-karma-1687122.jpg" class="bg-img" />
<div class="card">
    <h5 class="card-header">Email Us</h5>
    <div class="card-body">
        <div class="contact">
        {{msg}}
            <form method="POST" action="send">
                <div class="form-row">
                    <div class="col">
                        <label>Name</label>
                        <input type="text" class="form-control" name="name" placeholder="Your name...">
                    </div>
                    <div class="col">
                        <label>Email</label>
                        <input type="email" class="form-control" name="email" placeholder="Your email address...">
                    </div>
                </div> 
                <div class="form-row">
                    <label>Message</label>
                    <textarea name="message" class="form-control" rows="5" placeholder="Your message here..."></textarea>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

</div>

