<style>
  #map-row {
    background-image: url("../public/images/Topo-Map2.jpg");
    background-size: contain;
    text-align: center;
    height: 650px;
    padding-left: 0px;
    padding-right: 0px;
  }
  #info-row {
    padding: 20px 0;
    background-image: url("https://images.pexels.com/photos/811029/pexels-photo-811029.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
    background-size: cover;
    min-height: 800px;
  }
</style>


<div class="container-fluid">
  <div class="row" id="map-row">
    <div name="map" class="col-10" style="margin: auto;">
      <img src="https://upload.wikimedia.org/wikipedia/commons/1/13/Map_of_USA_States_with_names_white.svg"
        usemap="#image-map">
      <map name="image-map">
        <area class="state" id="AL" alt="Alabama" title="Alabama" href=""
          coords="623,359,667,353,683,409,687,419,685,431,687,439,639,445,643,459,627,459,621,425,623,389" shape="poly">
        <area class="state" id="AK" alt="Alaska" title="Alaska" href=""
          coords="2,420,146,420,212,486,212,540,246,584,0,588" shape="poly">
        <area class="state" id="AZ" alt="Arizona" title="Arizona" href=""
          coords="252,303,236,428,198,423,134,385,144,375,152,346,148,330,152,307,163,310,168,289" shape="poly">
        <area class="state" id="AR" alt="Arkansas" title="Arkansas" href=""
          coords="505,329,508,394,517,397,517,406,570,404,570,393,572,383,575,375,582,366,585,355,588,347,593,337,580,337,585,327"
          shape="poly">
        <area class="state" id="CA" alt="California" title="California" href=""
          coords="94,375,142,382,143,374,139,369,144,363,147,355,152,350,152,342,150,333,146,326,77,224,94,160,29,141,27,153,22,165,15,177,20,195,16,208,25,230,31,238,28,251,35,258,33,267,32,275,36,284,41,297,46,307,44,315,45,319,59,323,69,334,77,337,77,343,83,345,92,357"
          shape="poly">
        <area class="state" id="CO" alt="Colorado" title="Colorado" href="" coords="266,217,380,230,377,316,255,303"
          shape="poly">
        <area class="state" id="CT" alt="Connecticut" title="Connecticut" href="" coords="974,227,897,212" shape="rect">
        <area class="state" id="DE" alt="Delaware" title="Delaware" href="" coords="910,261,974,278" shape="rect">
        <area class="state" id="FL" alt="Florida" title="Florida" href=""
          coords="755,439,779,481,780,488,795,516,798,538,795,546,795,552,782,557,775,546,767,545,759,532,751,526,745,517,740,504,737,496,737,483,735,476,728,474,719,465,711,459,704,459,699,464,691,468,679,462,667,458,651,458,642,460,639,446,687,441,691,448,740,444,745,449,746,439"
          shape="poly">
        <area class="state" id="GA" alt="Georgia" title="Georgia" href=""
          coords="669,354 711,350 709,355 712,358 716,360 719,361 723,367 733,374 740,381 742,384 747,386 752,398 756,400 758,406 760,409 763,408 759,415 759,420 757,426 756,431 756,438 748,438 745,437 747,441 747,446 746,447 743,447 741,443 736,443 727,445 718,445 711,446 701,446 695,445 692,445 690,442 688,440 687,437 685,435 686,431 686,426 684,422 685,417 686,414 686,411 685,409 684,406 682,403 681,397 673,369 671,363 669,361 669,354 "
          shape="poly">
        <area class="state" id="HI" alt="Hawaii" title="Hawaii" href=""
          coords="212,487,297,486,350,541,350,587,249,587,211,542" shape="poly">
        <area class="state" id="ID" alt="Idaho" title="Idaho" href=""
          coords="175,20,188,24,184,45,187,51,187,56,188,61,192,64,196,72,199,78,203,80,200,88,197,98,199,104,206,101,207,112,209,119,215,123,215,131,222,130,232,131,238,131,242,127,246,134,236,190,188,180,163,174,142,170,155,124,150,123,149,115,157,110,165,96,162,85,167,54"
          shape="poly">
        <area class="state" id="IL" alt="Illinois" title="Illinois" href=""
          coords="598,314,612,308,615,299,618,290,623,272,623,240,617,198,612,191,567,193,574,208,572,218,561,219,562,234,556,240,559,255,567,266,577,270,577,281,595,295,577,288,587,289"
          shape="poly">
        <area class="state" id="IN" alt="Indiana" title="Indiana" href=""
          coords="621,292,619,284,625,272,624,256,624,208,664,204,673,261,666,271,652,287,638,289,642,292" shape="poly">
        <area class="state" id="IA" alt="Iowa" title="Iowa" href=""
          coords="484,239,469,192,472,178,555,171,566,195,558,186,574,201,572,217,563,220,563,232,556,242,533,234"
          shape="poly">
        <area class="state" id="KS" alt="Kansas" title="Kansas" href=""
          coords="501,318,503,273,497,267,496,257,487,252,381,249,375,312" shape="poly">
        <area class="state" id="KY" alt="Kentucky" title="Kentucky" href=""
          coords="594,322,602,309,611,312,619,304,624,292,633,292,642,292,654,284,668,268,674,260,692,268,703,270,711,274,719,291,707,310,627,322"
          shape="poly">
        <area class="state" id="LA" alt="Louisiana" title="Louisiana" href=""
          coords="613,493,611,486,603,480,608,474,601,468,596,449,562,449,572,421,564,404,518,406,518,435,526,454,523,478,581,494"
          shape="poly">
        <area class="state" id="ME" alt="Maine" title="Maine" href=""
          coords="882,130,900,107,910,90,924,73,913,62,901,35,889,31,879,31,870,52,861,80,870,118" shape="poly">
        <area class="state" id="MD" alt="Maryland" title="Maryland" href=""
          coords="827,277,835,251,825,252,816,221,759,230,763,242,782,232,799,242,802,252" shape="poly">
        <area class="state" id="MA" alt="Massachusetts" title="Massachusetts" href=""
          coords="844,160,877,158,882,167,903,155,879,134,842,148" shape="poly">
        <area class="state" id="MI" alt="Michigan" title="Michigan" href=""
          coords="633,202,640,183,633,159,643,131,660,115,678,133,695,161,685,202,650,207" shape="poly">
        <area class="state" id="MN" alt="Minnesota" title="Minnesota" href=""
          coords="475,174,471,136,468,125,473,115,466,54,494,46,577,73,548,98,536,115,530,132,534,148,553,156,551,170,539,174"
          shape="poly">
        <area class="state" id="MS" alt="Mississippi" title="Mississippi" href=""
          coords="603,463,598,449,562,449,565,437,574,422,567,406,568,390,572,378,577,370,584,361,620,356,619,416,627,456,615,460"
          shape="poly">
        <area class="state" id="MO" alt="Missouri" title="Missouri" href=""
          coords="485,241,489,250,499,257,497,266,504,276,504,328,582,328,579,337,591,335,600,316,593,297,577,290,581,273,570,274,565,264,556,240,541,236"
          shape="poly">
        <area class="state" id="MT" alt="Montana" title="Montana" href=""
          coords="243,132,215,132,205,102,194,100,201,81,191,62,185,42,189,23,362,52,354,137,248,121" shape="poly">
        <area class="state" id="NE" alt="Nebraska" title="Nebraska" href=""
          coords="348,225,381,229,380,249,489,249,484,237,473,196,456,187,445,194,433,182,348,178" shape="poly">
        <area class="state" id="NV" alt="Nevada" title="Nevada" href=""
          coords="149,329,154,307,165,307,166,288,187,180,92,159,76,223" shape="poly">
        <area class="state" id="NH" alt="New Hampshire" title="New Hampshire" href=""
          coords="856,144,882,135,874,123,865,85,856,92,860,104,853,113" shape="poly">
        <area class="state" id="NJ" alt="New Jersey" title="New Jersey" href=""
          coords="837,237,842,228,848,211,842,195,870,183,853,185,837,185,825,180,822,195,834,207,828,216,830,226"
          shape="poly">
        <area class="state" id="NM" alt="New Mexico" title="New Mexico" href=""
          coords="236,428,255,303,357,314,345,423,286,417,283,428,257,419,251,430" shape="poly">
        <area class="state" id="NY" alt="New York" title="New York" href=""
          coords="745,184,749,174,752,156,780,151,794,137,790,146,801,110,822,103,834,101,834,118,841,136,848,174,846,189,825,179,811,170"
          shape="poly">
        <area class="state" id="NC" alt="North Carolina" title="North Carolina" href=""
          coords="692,349,707,334,721,320,733,310,830,290,844,318,830,334,806,355,794,358,770,342,754,344,737,337,711,349"
          shape="poly">
        <area class="state" id="ND" alt="North Dakota" title="North Dakota" href=""
          coords="354,114,364,51,461,55,463,74,468,93,470,115,459,121" shape="poly">
        <area class="state" id="OH" alt="Ohio" title="Ohio" href=""
          coords="667,259,664,200,688,199,700,204,730,188,733,228,718,258,711,270,695,268,679,264" shape="poly">
        <area class="state" id="OK" alt="Oklahoma" title="Oklahoma" href=""
          coords="357,322,359,311,504,320,506,391,447,384,409,368,413,329" shape="poly">
        <area class="state" id="OR" alt="Oregon" title="Oregon" href=""
          coords="142,169,154,124,151,114,165,95,161,84,106,79,75,74,59,58,26,121,28,140" shape="poly">
        <area class="state" id="PA" alt="Pennsylvania" title="Pennsylvania" href=""
          coords="733,189,735,215,740,234,808,225,823,220,834,210,822,199,827,182,815,172" shape="poly">
        <area class="state" id="RI" alt="Rhode Island" title="Rhode Island" href=""
          coords="875,173,868,157,877,157,884,167" shape="poly">
        <area class="state" id="SC" alt="South Carolina" title="South Carolina" href=""
          coords="716,359,721,366,730,373,738,382,747,392,757,406,766,402,780,383,790,378,796,361,773,344,754,347,737,338,711,347"
          shape="poly">
        <area class="state" id="SD" alt="South Dakota" title="South Dakota" href=""
          coords="352,180,357,117,473,119,466,129,473,140,473,173,473,197,456,187,445,192,437,181,425,185" shape="poly">
        <area class="state" id="TN" alt="Tennesse" title="Tennesse" href=""
          coords="620,322,728,310,721,322,705,333,690,350,652,355,586,359,589,346,596,324" shape="poly">
        <area class="state" id="TX" alt="Texas" title="Texas" href=""
          coords="413,329,355,324,348,423,284,417,288,426,303,447,315,464,324,480,340,492,350,489,361,473,381,478,395,506,411,527,419,554,456,563,458,523,523,478,523,443,515,397,477,392,435,383,411,372"
          shape="poly">
        <area class="state" id="UT" alt="Utah" title="Utah" href=""
          coords="255,299,265,216,232,211,236,190,191,181,166,285,208,294,184,292,237,299" shape="poly">
        <area class="state" id="VT" alt="Vermont" title="Vermont" href=""
          coords="832,98,858,92,861,105,856,113,856,125,854,137,854,146,842,146,841,131,834,122,839,108" shape="poly">
        <area class="state" id="VA" alt="Virginia" title="Virginia" href=""
          coords="792,240,801,254,813,260,820,271,822,283,832,290,789,300,761,304,731,309,700,312,709,302,719,292,731,293,740,292,749,286,754,276,757,262,770,260,773,250,782,241"
          shape="poly">
        <area class="state" id="WA" alt="Washington" title="Washington" href=""
          coords="175,20,161,87,133,81,118,81,101,77,85,77,73,65,62,56,73,75,61,44,59,29,61,15,64,6,80,18,94,23,92,3"
          shape="poly">
        <area class="state" id="WV" alt="West Virginia" title="West Virginia" href=""
          coords="737,217,733,236,726,247,719,257,712,267,711,276,716,285,726,295,737,295,747,288,754,278,759,264,768,255,776,247,787,243,782,233,761,241,750,233,740,229"
          shape="poly">
        <area class="state" id="WI" alt="Wisconsin" title="Wisconsin" href=""
          coords="568,193,558,187,556,174,553,162,542,154,534,148,529,136,532,126,536,115,541,102,558,96,565,103,570,110,600,117,608,122,612,133,607,143,614,150,614,161,610,169,614,181,612,190,588,193"
          shape="poly">
        <area class="state" id="WY" alt="Wyoming" title="Wyoming" href="" coords="232,211,247,125,354,138,347,226"
          shape="poly">
      </map>
    </div>
  </div>
  <div class="row" id="info-row">

    <div class="col-3">
      <div class="card">
        <h5 class="card-header">Facts</h5>
        <div class="card-body">

      <div id="facts">
        <div>
          <h2>Facts</h2>
        </div>
      </div>
          <div name="info" class="col">
            <ul>
              {{#each facts}}
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-6">

      <div class="card">
  <h5 class="card-header">Notepad</h5>
  <div class="card-body">
    
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text" id="stateAbbrev"></span>
          </div>
          <textarea class="form-control" id="noteInput" aria-label="With textarea"></textarea>
        </div>
        <button class="btn btn-lg btn-success" id="saveNote">Save Note</button>

  </div>
</div>


      

    </div>

    <div class="col-3">
<div class="card">
  <h5 class="card-header">Saved Notes</h5>
  <div class="card-body">


      <div class="row" id="noteCards"></div>
      <div name="notes" class="">
        <p>{{response}}</p>
        <p>{{content}}</p>
      </div>
  </div>
</div>



    </div>
  </div>
</div>