<main name="main" class="fluid-container">
  <div class="row">
    <div name="map" class="col-8">
      <img src="../public/images/us-map.svg" width="100%">
    </div>
    <div name="sidebar" class="col-4">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          Noted States
        </div>
        <ul class="list-group list-group-flush">
         <li class="list-group-item"></li>
        </ul>
      </div>
    </div>
  </div>
</main>
<section class="fluid-container">
  <div class="row">
    <div name="info" class="col">

    </div>
    <div name="notes" class="col">

    </div>
  </div>
</section>